 <!-- About Section -->
    <section class="success" id="about">
        <div class="transbox">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Describe yourself in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet ultrices magna, in fermentum mi. Phasellus venenatis vitae ipsum non ullamcorper. Nam eu mi turpis. Nullam rhoncus vel erat facilisis bibendum. Sed eu metus a nisi commodo rhoncus non vel purus.</p>
                </div>
                <div class="col-lg-4">
                    <p>Nulla ut neque nec sem pulvinar dignissim sed ac sem. Suspendisse congue mi vitae dui dictum pellentesque. Morbi a odio sit amet lacus bibendum lacinia. Nulla viverra metus quis felis sagittis commodo. Fusce congue odio id sapien fermentum mattis. Nulla nibh massa, condimentum vitae diam a, dignissim elementum tellus.</p>
                </div>
            </div>
        </div>
        </div>
    </section>
